<div class="presenter"><h2 class="letter-spread">Hello, <%= current_user.email %></h2></div>
<div class="books">
  <% if @books.empty? %>
    <h3>
      Your 
      <%= link_to 'books', books_path %> 
      will appear here, after you 
      <%= link_to 'add one!', new_book_path %> 
    </h3>
  <% else %>
    <%= render @books %>
  <% end %>
</div>
