:root {
  --dark:        #0C0E11;
  --light:       #F3F5F8;

  --success:     #28A745;
  --notice:      #007Bff;
  --error:       #DC3545;
  --warning:     #FFC107;

  --color1light: #D6E9F4;
  --color1:      #CEE5F2;
  --color1dark:  #A9BCC7;

  --color2light: #BBD4E6;
  --color2:      #ACCBE1;
  --color2dark:  #8DA7B9;

  --color3light: #93AAC0;
  --color3:      #7C98B3;
  --color3dark:  #667D93;

  --color4light: #7F8A97;
  --color4:      #637081;
  --color4dark:  #525C6A;

  --color5light: #728590;
  --color5:      #536B78;
  --color5dark:  #445863;
}

/* global css */

html, body {
  font-family: "Avenir Next", "Avenir", sans-serif; 
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color3);
  color: var(--dark);
}

* {
  box-sizing: border-box;
}

/* global typography */

h1 { 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
} 

h2 { 
  font-size: 18px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 19.4px; 
} 

h3 { 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 15.4px; 
} 

p { 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px; 
} 

blockquote { 
  font-size: 21px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 30px; 
} 

pre { 
  font-size: 13px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 18.5714px; 
}

input[type=submit] {
  font-family: "Avenir Next", "Avenir", sans-serif; 
  font-size: 16px;
}

/* main elements */

.big-screen {
  width: 90%;
  margin: 0 auto;
  background-color: var(--color2);
  padding: 10px;
  box-shadow: 0 0 25px;
  min-height: 955px;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.presenter {
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--color2);
  letter-spacing: 2px;

  h1 {
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 0 0 10px var(--dark);
  }

  h2 {
    font-size: 2.0em;
    line-height: 1.5em;
    text-align: center;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
  }

  li {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 1px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color2light);
    box-shadow: 0 0 10px var(--color2light);
  }
}

/* image uploader */
.image-upload > input {
  display: none;
}

/* header styles */

header {
  width: 100%;
  margin: 0;
  padding: 5px 0;
  background-color: var(--color1light);
  position: relative;
  z-index: 1;

  > div {
    display: flex;
    justify-content: space-around;
    background-color: var(--color1);
    width: 72.5%;
    margin: auto;
    padding: 25px 0;
    border-radius: 5px;
  }
}

#header-logo {
  display: block;

  a {
    letter-spacing: 10px;
    text-decoration: none;
    font-size: 1.7em;
    color: var(--dark);
  }
}

/* sidebar styles */

#sidebar {
  position: relative;
}

#menuToggle {
  display: block;
  position: relative;
  width: 150px;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--color5);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }

  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--dark);
  }

  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  input:checked ~ ul {
    transform: none;
  }
}

#sidebar-links {
  position: fixed;
  width: 300px;
  height: 100vh;
  margin: -82px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--color5);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  li {
    padding: 10px 0;
    font-size: 22px;

    ul {
      display: none;
      list-style-type: none;
    }

    &:hover ul {
      display: block;
    }
  }

  .selected ul {
    display: block;
  }

  a {
    text-decoration: none;
    color: var(--dark);
    transition: color 0.3s ease;

    &:hover {
      color: var(--color1);
    }
  }
  
  .selected {
    color: var(--color1dark);
  }
}

/* footer styles */

footer {
  width: 100%;
  margin: 0;
  padding: 5px 0;
  background-color: var(--color1light);
  position: relative;
  z-index: 1;

  > div {
    display: flex;
    justify-content: space-around;
    background-color: var(--color1);
    width: 92.5%;
    margin: auto;
    padding: 25px 0;
    border-radius: 5px;
  }
}

#footer-logo {
  display: block;

  a {
    letter-spacing: 10px;
    text-decoration: none;
    font-size: 1.7em;
    color: var(--dark);
  }
}

#footer-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    text-decoration: none;
    color: var(--dark);
    padding: 10px; 
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: var(--color1light);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color1dark);
    }
  }
}
