<footer>
  <div>
    <div id="footer-logo">
      <h3><%= link_to "Booksmarts", root_path %></h3>
      <span>Organize how and what you read</span>
    </div>
    <div id="footer-login-status">
      <% if user_signed_in? %>
        <span><%= "Logged in as #{current_user[:email]}" %></span>
      <% else %>
        <span>You are not currently logged in</span>
      <% end %>
    </div>
    <%= render_navigation renderer: :links, context: :footer %>
  </div>
</footer>
