<footer>
  <div>
    <div id="footer-logo">
      <h3><%= link_to "Booksmarts", root_path %></h3>
      <span>Organize how and what you read</span>
    </div>
    <div id="footer-links">
        <%= link_to "Home", root_path %>
        <a href="#">About</a>
        <a href="#">Help</a>
    </div>
    <div id="footer-login-status">
      <span>You are not currently logged in</span>
    </div>
  </div>
</footer>
