<header>
  <%= render "shared/sidebar" %>
  <div>
    <div id="header-logo">
      
      <h1>
        <%= link_to root_path do %> 
          Booksmarts<%= 'local_library'.icon(36) %>
        <% end %>
      </h1>
    </div>
  </div>
</header>
