<header>
  <div>
    <div id="header-logo">
      <h1><%= link_to "Booksmarts", root_path %> </h1>
    </div>
    <div id="header-links">
        <%= link_to "Home", root_path %>
        <a href="#">About</a>
        <a href="#">Help</a>
    </div>
  </div>
</header>
