<nav id="sidebar" role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <%= render_navigation context: :sidebar, expand_all: true %>
  </div>
</nav>
