<div class="presenter">
  <div class="nav-buttons">
    <%= link_to 'Back', books_path %>
    <%= link_to 'Show', @book %>
  </div>

  <h1>Edit Book</h1>
  
  <%= render 'form', book: @book %>
</div>
