<div class="presenter">
  <div class="nav-buttons">
    <%= link_to :arrow_back.icon + ' Back', books_path %>
    <%= link_to :pageview.icon + ' Show', @book %>
  </div>

  <h1>Edit Book</h1>
  
  <%= render 'form', book: @book %>
</div>
