<div class="presenter">
  <h1 class="letter-spread" >Books</h1>
</div>

<div class="books">
  <%= render @books %>
</div>

<%= link_to :book.icon(18) + ' New Book', new_book_path, class: 'new-book' %>
